*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    scroll-margin-top:80px;
    scroll-behavior: smooth;
}
button{
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
}
/**/

li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
/*hover*/
.button-watch:hover{
    filter: brightness(110%); 
             
}
.nav-btn:hover a{
    filter: brightness(90%);
    color:rgb(212, 189, 143);
}



/*Nav bar*/
.mainMenuDownNonHover{ /*ทำให้ลูกdropdownเล็ก*/
    max-width: 20px;
    max-height: 5px; 
}


/*Nav wrapper*/
.nav-link-dropdown li a, .nav-link li a{
    color: white;
    padding: 7.5px 16px;
    margin-right: 4px;
    font-size: 13px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .08em;
    text-align: center;
}
.nav-link-dropdown{
    display: flex;
}
.nav-link {
    display: flex;
    flex-direction: row;
    margin-left: 18px;
    height: 100%;
    align-items: center;
}
.nav-link-wrap{
    display: none;
}
.contianer-nav{
    display: flex;
    background-color: #111;
    color: white;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid rgba(51, 51, 51, .25);
    font-size: 14px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10000;
    
    
}
.centerbar ,.rightsidebar,.globeIcon ,.burgerNav,.leftsidebar{
    display: flex;
    height: 100% ;
    justify-content: center;
    align-items: center;
    text-align: left;
    
}

.drop-down-icon{
    margin-left: 4px;
}
.arw-add{
    margin-left: 4px;
    height: 100%;
}
.nav-link li 

    /*Nav bar leftside*/
.leftsidebar{
    padding-left: 38px;
}
.appswitcher{
    width: 140px;
}
.riotbar-fist-logo{                       /*A Logo wrapper*/
    display: flex;
    align-items: center;
    justify-content: space-around;    
   
    
}
.riotgameslogo{                             /*Riot logo*/
    display: flex;
    fill: #f9f9f9;
    margin-left: 36px;
    width: 95px;
}
.mainMenuDownNonHover{                   /*wrapper logodropdown*/
    display: flex;
    justify-content: center;
    width: 26px;
    height: 7px;
    margin-right: auto;
    
}
.mainMenuDownNonHover svg{                /*logodropdown*/
    width: 20px;
    height: 5px;
    fill: #7e7e7e;
    margin-right: auto;
} 
a:hover .riotgameslogo,a:hover .mainMenuDownNonHover svg,a:focus .riotgameslogo,a:focus .mainMenuDownNonHover svg {     /*red when hover*/
    fill: red;
}



    /*Nav bar center*/
.centerbar{
    width: 100%;
    margin-left: 22px;
    display: flex;
    justify-content: flex-start;
}
    /*logo main nav*/
.LOLLOGO{
   display: none;
}
.LOLLOGOmini{
    display: block;
    
}
.LOLLOGOmini svg{
    width: 25px;
    margin-right: 8px;
}
.nav-link{
    gap: 2px;
}
.nav-link  a{                                           /*a ใน nav*/
    
    position: relative;                             /*pos ให้ เส้นใต้อิงอันนี้*/
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .08em;
   
}
.nav-link  a p,.nav-link .nav-link-dropdown p {
    padding: 7.5px 16px;
    
}
.nav-link  a:hover p,.nav-link .nav-link-dropdown:hover p{
    background-color: #292929;
    border-radius: 6px;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98), border-color .5s cubic-bezier(0.06, 0.81, 0, 0.98);
    color:rgb(212, 189, 143);
    
}
.nav-link  a:hover  .nav-item-underline {
    position: absolute;                       /*pos ให้ เส้นใต้ตามอันบนอันนี้*/
    background-color: rgb(0,160,189);
    border-radius: 0 0 8px 8px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    bottom: 6px;
}
    /*Nav bar rightside*/
.rightsidebar{
    display: flex;
    margin-left: auto;
    padding-right:16px ;
    flex-direction: row;
    
}
.globeIcon{
    height: 32px;
    width: 32px;
    margin: 6px;
}
.globeIcon svg{
    width: 18px;
}
.globeIcon:hover{
    border-radius: 6px;
    background-color: #292929;
}
.burgerNav{
    display: none;
}
.nav-btn {
    width: 91px;
}
.nav-btn a{
    display: flex;
    justify-content: center;
    padding:8px 16px;
    color: black;
    background-color: #0BC4E2;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98);
}

/*main*/
main{
    

}
span{
    display: flex;
    flex-direction: column;
    
}
    /*main BG*/
#letsplay{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    background: linear-gradient(to top, rgb(10, 20, 40) 0%, transparent 100%) center bottom / 100% 50% no-repeat;
}

.bg{
    
    
   background-color: black;
    
}
.bg video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    overflow: hidden;
    
}
    /*main logo*/
.overlay{                /*.....................*/
    position: relative;
    display: flex;   
    align-items: center;
    
    justify-content: center;
    height: 100%;
}
.League-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.League-logo a img {
    width: 300px;
    height: 129px;
}

.button-letplay{
    margin-top:48px;
    font-weight: 400;
    font-size: 18px;
    padding: 19px 32px;
    background-color: #c9a96f;
}
.League-logo .button-letplay{
    color: black;
    margin-top:32px;
    outline: rgb(255, 255, 255) solid 1px;       /*เส้นนอกborder*/
    outline-offset: 3px;                            /*ระยะห่างระหว่างborder -> เส้นนอกborder*/
    line-height: 26px;
    
}

    /*season*/
#season{
    display: flex;
    height: 640px;
    overflow: hidden;
    position: relative;
    align-items: center;
}

#season .bg-img{
    background-image: url('https://cmsassets.rgpub.io/sanity/images/dsfx7636/news_live/d07912c88cdcd3c15298e88cedd2bb801528a305-1680x560.jpg?auto=format&fit=fill&q=80&h=560');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    
    
    
}

.bg-img p{
    color:#f9f9f9;
    font-family: 'Beaufort for LOL', sans-serif;
    
    
}
.overlay-season{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 50%;
    text-align: left;
    position: absolute;
    padding-left: max(50px,5%);
}
.supertitle{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    
    
}
.title{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
    font-style: italic;
    overflow-wrap: break-word;
    
    
}
.description{
    margin-bottom: 32px;
    font-style: none ;
    font-family: Spiegel, sans-serif ;
    font-size: 18px;
}
.button-watch{
    display: flex;
    width: fit-content;
    color: #000;
    padding: 19px 32px;
    background-color: #c9a96f;
    transition: all 0.2s ease-in-out;    
}



/*news*/
 #news{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 48px;
   
    
}

.news-header{
    
    font-size: 32px;
    line-height: 40px;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 700;
    
}
.news-content-container{
    display: flex;
    padding:32px 0;
    flex-direction: row;
    width: 100%;
}

.wrapper{
    
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    
    
    
    
}
.wrapper li {
   flex: 1 0 auto;
   width: 33.3%;
}
    /*card*/
.card{
    background-color: #f9f9f9;
    overflow: hidden;
    
}
.card-newsvideo {

    overflow: hidden;
}

.card-newsvideo img{
    width: 100%;
    transition: transform 0.2s ease-in-out;
}
.card:hover .card-newsvideo img{
    transform: scale(1.1);
    
}

    

.card-header{
    display: flex;
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #000;
}
.card-newsbody{
    color: #000;
}   
.card-supertitle{
   
    font-weight: bold;
    color: #C8AA6C;
}
.card-supertitle,.card-date{
    font-size: 14px;
    line-height: 16px;
}
.stick{                            /*.....................*//*.....................*//*.....................*//*.....................*/
    background-color: rgb(204, 204, 204);
    margin: 0px 8px;
    
}

.card-title{
    white-space: normal;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 4px;
    color: rgb(10, 20, 40);
}
.card-description{
    white-space: normal;
    font-size: 16px;
    line-height: 24px;
}
.arrow-btn{
   visibility: hidden;
}



/*icon champion*/
#champions{
    padding: 48px;
    /* margin:0 5%;  1920width */
}
.icon-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
}

.icon-header .supertitle{
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(10, 20, 40);
}
.icon-header .title{
    font-size: 66px;
    color: rgb(10, 20, 40);
}
.icon-header .description{
    font-size: 20px;
    line-height: 26px;
    color: rgb(10, 20, 40);
}
.icon-link {
    display: flex;
    justify-content: center;         /*สำรวจแชมเปี้ยนตัวอื่น ๆ*/
    gap:16px;
    width: 100%;
    margin-bottom: 48px;
    font-size: 20px;
}
.icon-link .button-watch ~ .button-watch{
    padding: 19px 32px;
    background-color: #59C1DE;                       /*เล่นเลย*/
}

.icon-tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tabs media";
    
    gap: 32px;
    padding: 0 auto;
}

.icon-header{
    display: flex;
    width: 100%;
    justify-content: center;
}
.icontab-content{
   width: 100%;

}
.icon-scoll-tab{
    
  
}
.iconwrapper{
    display:flex;
    gap: 8px;
}
.iconwrapper .champ-card-icon{
    display: flex;
    
    scroll-snap-align: start;
    filter: brightness(50%);
    flex-direction: column;
    align-items: center;      /*label มาอยู่ตรงกลางicon*/
    height: 110px;
    width: 100%;
    
}


.iconwrapper::-webkit-scrollbar{
    display: none;
}

.champ-card-icon:active {
    filter: brightness(50%);
}
.icon-champ img{
    display: flex;
    justify-content: center;
    width: 100%;  
   
}

.label-champ{                       /* texticonchamp */
    margin-top: 24px;
   
    font-weight: bold;
}








.icon-media-content{
    display: flex;
    justify-content: center;
    
    
}
.icon-media-content img{
    display:flex;
    max-height: 736px;
    max-width: 736px;
    flex: 1 0 auto;
}
.icon-media-lebelwarp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-media-lebel{
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    color: rgb(10, 20, 40);
    line-height: 32px;
    margin-bottom: 16px;
}
.icon-media-des{
    font-family: Spiegel, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(108, 114, 126);
    margin-bottom: 4px;
}

/*promote*/
#MediaPromote{
    background-image: url(https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/a6f94cd5ed222d3b99e535f17cd9592d3c716bb5-3840x1616.png?auto=format&fit=fill&q=80&h=976);
    object-fit: cover;
    background-position: 50% 5%;
    /* padding:0 5%; 1920width */
    bottom: 50%;
}
.MediaproWrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 24px;
    background: linear-gradient(to top, rgb(10, 20, 40) 0%, transparent 100%) center bottom / 100% 50% no-repeat;
    gap: 64px;
}

.promo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.promo-container .supertitle,.promo-container .title,.promo-container .description{
    color: white;
}
.promo-container .supertitle{
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
}
.promo-container .title{
    margin-bottom: 16px;
    font-size: 80px;
    line-height: 88px;
}
.promo-container .description{
    margin-bottom: 48px;
}
.promo-container .button-watch{
    margin-bottom: 76px;
    font-size: 18px;
    line-height: 26px;
    
}


.Media{
    display: flex;
}
.promo-media-content{
    display: flex;
}
.promo-media-content img{
    display: flex;
    width: 100%;
}
/*map */
#map{
    background-image: url(https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/0eb5bc3bbb7794eceea3a5e7948906e1cbcd027f-5120x1810.png?auto=format&fit=fill&q=80&w=1850);   
    background-size: cover;
}
.layoutmap{
    background: linear-gradient(to bottom, rgb(10, 20, 40) 0%, transparent 100%) center top / 100% 50% no-repeat;
   
}
.mapwraper{
    padding: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
     gap: 16px;
    align-items: center;
     margin: 0 10%;
}

.map-container{
   
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    padding: 24px;
    
}
.title-container .supertitle{
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 32px;
}
.title-container .title{
    font-size: 64px;
    line-height: 72px;
}
.title-container a{
    margin-top: 32px;
}

.map-icon-container{
 

}
.map-content{                  /* OL map */
    display: flex;
    flex-direction: row;
   justify-content: center;
    width: 100%;
    gap:8px;
    margin-top: 32px;
}
.map-icon{                      /* li map */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 132px;
}
.map-icon img {                 /*  map icon */
    width: 68px;
    height: 68px;
}
.map-icon .icon-media-lebel{     /*  map icon lebel */
    color: white;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    font-family: Spiegel, sans-serif;
    margin: 0;
    margin-top: 8px;
    text-align: center;
    
}

.media-map{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.media-map-video{
    clip-path: circle(50%);
    width: 686px;
    border-radius: 50%;
    border: 1px solid rgb(200, 170, 110);
    padding: 8px;
    margin-bottom: 48px ;
}
.media-map p{
    color: white;
    text-align: center;
    
}
.media-map .icon-media-lebel{
    font-size: 24px;
    line-height: 32px;
}

.media-map .icon-media-des{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
/*Last promote*/
.bg-last video{             /*bg video*/
    position: absolute;
    display: flex;
    width: 100%;
    height: 640px;
    object-fit: cover;
    z-index: -1000;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
}
/*footer*/
footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    background-color: #111111;
    
}
.link-footer-wrap,.footer-riot-logo,.license{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.footer-bar .link-footer-wrap{       /* first footer-bar*/
    padding: 24px ;
    background-color: #292929;
}

.footer-bar-icon .link-footer-wrap{      /* icon footer-bar*/
    padding: 18px;
    fill: white;
    fill-rule: evenodd;
    
}
.about-footer-icon  {
    background: rgba(128, 128, 128, .2);
    border-radius: 12px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}
.footer-riot-logo{                       /* logo footer-bar*/
    padding:24px 0 20px;
    fill: #737373;
}
.license{                                    /* liscense footer-bar*/
    max-width: 640px;
    color: #7e7e7e; 
    text-align: center;
    display: flex;
    align-self: center;
    
}

.license ~ .footer-bar  .link-footer-wrap{           /* lastfooter-bar*/
    padding: 24px 0 28px;
    background-color: #111111;
}
.about-footer a {                       /* text footer-bar*/
    color: white;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .08em;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 16px;
    display: block;
   
   
}

@media (max-width: 1024px) {
    #letsplay{
    height: 580px
    }

    .League-logo a img {
        max-width: 340px;
    }
     .League-logo .button-letplay{
        margin-top:32px;
        font-size:16px;
        line-height:24px;
    }

    /*season*/
     #season{
        height: 440px;
     }
    .overlay-season{
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
    }
    .supertitle{
    font-size: 20px;
    
    }
    .title{
    font-size: 32px;
    }
    /*news*/
    #new{
        margin: 32px;
        
    }
    .news-content-container{
        display: flex;
        flex-direction: column;
        padding:24px 0;
    }
    .news-content{
        overflow: hidden;
        overflow-x: scroll;
        width: 100%;
        scroll-snap-type: x mandatory;
    }
    .news-content::-webkit-scrollbar{
        display: none;
    }
    .wrapper{
        white-space: nowrap;
    }
    .wrapper li{
        scroll-snap-align: start;
        scroll-snap-stop: always;
        transition: all 0.2;
        width: 48%;
        flex-shrink: 0;
    }
   
    .card-newsvideo img{
        
        width: 100%;
    }
    .news-header{
    font-size: 24px;
   
    }

    .card-supertitle{
        font-weight: bold;
        color: #C8AA6C;
    }
    .card-supertitle ,.card-date{
        font-size: 12px;
        line-height: 18px;
    }
    .stick{
        background-color: rgb(204, 204, 204);
        margin: 0px 8px;
        
    }
    .card-title{
       
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
    }
    .card-description{
        
        font-size: 14px;
        line-height: 22px;
        
    }
    /* scroll indicator */

    .control-contianer{                    /* กล่องcontrol */
        margin-top: 24px; 
        height: 34.5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        
        
    }
    .progress-container {               /* หลอดcontrol */
    width: 85%;
    flex: 1 1 0%;
  
    height: 2px;
    background: #ccc;
    
    
    }

    .progress-bar {                      /* หลอดcontrolทับ */
    height: 2px;
    background: rgb(200, 170, 110);
    width: 0%;
    }
   
    .arrow-btn button {      /* ลูกศรcontrolทับ */
    
    visibility: visible;
    background: none;
    border: none;
    cursor: pointer;
    fill: #c9a96f;
    gap: 8px;
    }
    .arrow-btn button.disabled {
    fill: #cccccc; 
    cursor: not-allowed; 
    }
    .arrow-btn .arrow-btn-left{
       
       margin-right: 8px;
    }
}  
   



@media (max-width: 600px) {
    
    .leftsidebar{
    padding-left: 16px;
    }
    .appswitcher{
        width: 121px;
    }
    .riotgameslogo{                             /*Riot logo*/
    display: flex;
    fill: #f9f9f9;
    margin-left: 0px;
    
    }
    .League-logo a img {
        max-width: 238px;
        max-height: 102px;
    }
    .riotgameslogo{                             /*Riot logo*/
    width: 95px;
    margin-right: 8px;
    }
    .mainMenuDownNonHover svg{                /*logodropdown*/
    width: 30px;
    height: 7px;
    margin-left: auto;
    } 
    .centerbar{
    margin-left: 28px;
    }
    .LOLLOGO{
    display: block;
    }
    .LOLLOGOmini{
    display: none;
    }
    .nav-link{
        display: none;
    }
    .rightsidebar{
    display: flex;
    margin-left: auto;
    padding-right:16px ;
    flex-direction: row;

    }
    .burgerNav{
    display: flex;
    }
    .nav-btn{
    display: none;
    }




    .League-logo .button-letplay{
        font-size: 14px;
        line-height: 22px;
    }
    .League-logo .button-letplay{
        margin-top:24px;
    }


    /*season*/
    
    .overlay-season{
        width: 100%;
       
    }
    .title{
        font-size: 38px;
    }
    .description{
        font-size: 14px;
    }
    .button-watch{
        font-size: 14px; 
        width: 100%;
        justify-content: center;
        
    }


    /*news*/
    #news{
        margin: 24px;
    }
    .news-header{
    font-size: 24px;
    line-height: 32px;
    }
    .news-content-container{
        padding:24px 0;
    }
    .card-supertitle{
        font-weight: bold;
        color: #C8AA6C;
    }
    .card-supertitle,.card-date{
        font-size: 10px;
        line-height: 16px;
    }
    .stick{
        background-color: rgb(204, 204, 204);
        margin: 0px 8px;
        
    }
    .card-title{
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
    }
    .card-description{
        font-size: 12px;
        line-height: 18px;
    }
    .wrapper{
        white-space: nowrap;
    }
    .wrapper li{
        width: 100%;
       
    }
    .progress-container {
        width: 85%;
    }








    /*champion*/
    #champions{
    padding: 24px;
    }
    .icon-tab{
    display: flex;
    flex-direction: column;
    gap: 16px;
    }
    .icon-header .supertitle{
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
   
    }
    .icon-header .title{
        font-size: 48px;
        
    }
    .icon-header .description{
        font-size: 18px;
        line-height: 26px;
        color: rgb(10, 20, 40);
    }
    .icon-link {
    display: flex;
    flex-direction: column;                         /*สำรวจแชมเปี้ยนตัวอื่น ๆ*/
    gap:16px;
    width: 100%;
    margin-bottom: 24px;
    }
    .iconwrapper{
    gap:8px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
   
    height: 72px;
     
    
    }
     .iconwrapper .champ-card-icon{                                 /* กล่องiconchamp */
                                                                        

    max-width: calc(((100% - (8px * calc(4 - 1))) / (1 * 4)));
    min-width: calc(((100% - (8px * calc(4 - 1))) / (1 * 4)))
    }
    .icon-champ img{                                                   /* ภาพiconchamp */
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;
    }
    .label-champ{                                                      /* texticonchamp */
    margin-top: 8px;
    padding: 0;
    font-size: 10px;
    }


    .icon-media-lebel{                                                    /* media textใหญ่ */
    line-height: 28px;
    font-size: 20px;
    }
    .icon-media-des{                                                
    font-size: 12px;
    line-height: 18px;
    }
    /*promote*/
    .MediaproWrapper{                                                    /* wrapper promo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;  
    gap: 32px;  
    }
    .promo-container .supertitle{
    margin-bottom: 8px;
    font-size:  20px;
    line-height: 28px;
    }
    .promo-container .title{
    margin-bottom: 16px;
    font-size:  56px;
    line-height: 64px;
    }
    .promo-container .description{
    font-size:  14px;
    line-height: 22px;
    }
    /*map */
    #map{
       
    }
    .layoutmap{
         
    padding: 24px;
    }
    .mapwraper{
        display: flex;
    flex-direction: column;
    
    }
    .title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    padding: 24px;
    
    }
    .title-container .supertitle{
    font-size: 16px;
    line-height: 24px;
    }
    .title-container .title{
    font-size: 48px;
    line-height: 56px;
    }
    .map-content{
    gap:16px;
    margin-top: 16px;
    }
    .map-icon{                      /* li map */
    width: 132px;
    }
    .map-icon img {                 /*  map icon */
    width: 48px;
    height: 48px;
    }
    .map-icon .icon-media-lebel{     /*  map icon lebel */
    font-size: 10px;
    font-weight: 500;
    }
    .media-map-video{
    width: 530px;
    padding: 8px;
    margin-bottom: 24px ;
    }
    .media-map .icon-media-lebel{
    font-size: 20px;
    line-height: 28px;
    }
    .media-map .icon-media-des{
        font-size: 14px;
        line-height: 22px;
        
    }
    /*Last promote*/
    .bg-last video{             /*bg video*/
    width: 100%;
    height: 440px;
    }
    .btn-wrapper{
    height: 440px;
    }
    .btn-wrapper a{
    width: fit-content;
    }
    /*footer*/
    .footer-bar .link-footer-wrap{
        flex-direction: column;
    }
    .about-footer{
        margin: 12px 0;
    }
    .license{
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    width: 368px;
    }
    .about-footer-icon {
        width: 48px;
        height: 48px;
    }
    .about-footer-icon a svg{        
        width: 24px;
        height: 24px;
    }
}